{% load static %}

<!--<table class="table common-utils-table table-borderless text-left mt-5 px-2">-->

{% if supply_data.count == 0 %}
    <p>No supplies set yet.</p>

{% else %}
    <table class="table general-table table-borderless text-left mt-5 px-2">

    <thead class="general-table_head">
        <tr>
            <th class="ps-5">Apartment</th>
            <th>Email</th>
            <th>Persons</th>
            <th>Cold water</th>
            <th>Gas power</th>
            <th>Heating power</th>
            <th>Hot water</th>
            <th>Supply status</th>
        </tr>
    </thead>

    <tbody class="general-table-body">
    {% for apartment in apartments %}
        <tr class="general-table-row">
            <td class="ps-5">{{ apartment.pk }}</td>
            <td>{{ apartment.tenant.email }}</td>
            <td>{{ apartment.number_of_persons }}</td>

            {% for util_set in apartment.individualutil_set.all|dictsort:"individual_util.name" %}
                <td class="util-branched">
                    <div class="row p-0 m-0 align-items-center align-content-center">
                        {% if util_set.status %}
                            <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>
                        {% else %}
                            <div class="col-2 p-0 m-0 status-icon-disabled">&bull;</div>
                        {% endif %}
                        <div class="col-10 p-0 m-0 status-name">{{ util_set.get_status_display }}</div>
                    </div>
                </td>
<!--                <td class="util-branched">-->
<!--                    <div class="row p-0 m-0 align-items-center align-content-center">-->
<!--                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>-->
<!--                        <div class="col-10 p-0 m-0 status-name">-</div>-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td class="util-branched">-->
<!--                    <div class="row p-0 m-0 align-items-center align-content-center">-->
<!--                        <div class="col-2 p-0 m-0 status-icon-active">&bull;</div>-->
<!--                        <div class="col-10 p-0 m-0 status-name">-</div>-->
<!--                    </div>-->
<!--                </td>-->
            {% endfor %}
            <td><a href="#" class="btn table-action-btn">Set &rarr;</a></td>
        </tr>
    {% endfor %}
    </tbody>

</table>

{% endif %}