{% load static %}

{% if mutual_utils.count == 0 %}
    <div class="text-center mt-5">
        <h1 class="test-warning">There are no mutual utilities available for this building.</h1>
    <a href="{% url 'building:add_new_util' %}" class="btn add-feature-btn">Add mutual utility &rarr;</a>
</div>
{% else %}
    <div class="mt-5">
        <a href="{% url 'building:add_new_util' %}" class="btn add-new-util-btn">Add mutual utility &rarr;</a>
    </div>
    <table class="table general-table table-borderless text-left mt-3 px-2">

                    <thead class="general-table_head">
                        <tr>
                            <th class="ps-5">Utility</th>
                            <th>Type</th>
                            <th>Provider</th>
                            <th>Contract Started</th>
                            <th>Contract Ending</th>
                            <th>Tax | Wage</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody class="general-table-body">
                    {% for util in mutual_utils %}
                        <tr class="general-table-row">
                            <td class="ps-5">{{ util.name}}</td>
                            <td>{{ util.util_type}}</td>
                            <td>{{ util.provider }}</td>
                            <td>{{ util.contract_starts}}</td>
                            <td>{{ util.contract_ends}}</td>
                            <td>{{ util.util_tax_wage }}</td>
                            <td><a href="#" class="btn table-action-btn">Edit &rarr;</a></td>
                        </tr>
                    {% endfor %}

                </table>
{% endif %}