{% load static %}

    <table class="table general-table table-borderless text-left mt-5 px-2">

                    <thead class="general-table_head">
                        <tr>
                            <th class="ps-5">Utility</th>
                            <th>Type</th>
                            <th>Provider</th>
                            <th>Contract Started</th>
                            <th>Contract Ending</th>
                            <th>Tax/person</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody class="general-table-body">
                    {% for supply in supply_data %}
                        <tr class="general-table-row">
                            <td class="ps-5">{{ supply.name|capfirst }}</td>
                            <td>{{ supply.util_type|capfirst }}</td>
                            <td>{{ supply.provider|capfirst }}</td>
                            <td>{{ supply.contract_starts }}</td>
                            <td>{{ supply.contract_ends }}</td>
                            <td>{{ supply.util_tax_wage }}</td>
                            <td><a href="#" class="btn table-action-btn">Edit &rarr;</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>