{% extends 'base.html' %}
{% load static %}

{% block content %}

    <title>Payments</title>

    <div class="container-fluid payments-panel">

        <!-- Top section: render info cards -->
        <section class="row dashboard-section top-section">

            <!-- Total expenses card -->
            <div class="col-md-3 card-info-column">
                <div class="card-info">
                    <div class="row row-head p-0 m-0">
                        <div class="col-md-9 col-head col-head-name my-auto m-0">
                            <h6 class="m-0 card-title">Total Expenses</h6>
                        </div>
                        <div class="col-3 col-head col-head-icon my-auto">
                            <i class="las la-hand-holding-usd info-card-icon icon-left"></i>
                        </div>
                    </div>
                    <div class="row row-body">
                        <h4>{{ building.total_expenses }}</h4>
                    </div>
                </div>
            </div>

            <!-- Committed expenses card -->
            <div class="col-md-3 card-info-column">
                <div class="card-info">
                    <div class="row row-head">
                        <div class="col-md-9 col-head col-head-name my-auto m-0">
                            <h6 class="m-0 card-title">Committed Expenses</h6>
                        </div>
                        <div class="col-3 col-head col-head-icon my-auto">
                            <i class="las la-file-invoice-dollar info-card-icon icon-left"></i>
                        </div>
                    </div>
                    <div class="row row-body">
                        <h4>{{ building.committed_expenses }}</h4>
                    </div>
                </div>
            </div>

            <!-- Profit/loss card -->
            <div class="col-md-3 card-info-column">
                <div class="card-info">
                    <div class="row row-head">
                        <div class="col-md-9 col-head col-head-name my-auto m-0">
                            <h6 class="m-0 card-title">Profit / Loss</h6>
                        </div>
                        <div class="col-3 col-head col-head-icon my-auto">
                            {% if building.profit_loss_report >= 0 %}
                                <i class="las la-sort-amount-up info-card-icon positive"></i>
                            {% else %}
                                <i class="las la-sort-amount-down info-card-icon negative"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row row-body">
                        <h4>{{ building.profit_loss_report }}</h4>
                    </div>
                </div>
            </div>

            <!-- Num of apartments with processed payments card -->
            <div class="col-md-3 card-info-column">
                <div class="card-info">
                    <div class="row row-head">
                        <div class="col-md-9 col-head col-head-name my-auto m-0">
                            <h6 class="m-0 card-title">Collected Payments</h6>
                        </div>
                        <div class="col-3 col-head col-head-icon my-auto">
                            <i class="las la-tasks info-card-icon icon-left"></i>
                        </div>
                    </div>
                    <div class="row row-body">
                        <h4>{{ collected|length }} / {{ building.apartment_set.all|length }}</h4>
                    </div>
                </div>
            </div>

        </section>

        <!-- Second section: render apartment table -->
        <section class="row dashboard-section second-section p-3">

            <div class="table-content">
                {% include "residential/tables/payments_list.html" %}
            </div>

        </section>

    </div>

{% endblock content %}