@import "../00_design_system/03_variables.css";

.card {
    height: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: var(--shadow)
}

.card--icon {
    font-size: 32px;
}

.icon-container {
    border-radius: 10px;
    padding: 10px;
}

.card-detail {
    font-family: var(--medium-font);
    font-size: 20px;
    color: var(--dark);
}