@import "../00_design_system/03_variables.css";

.analytics-row, .cards-row, .table-row {
    height: 100%;
}

.table-row {
    padding: 0 15px;
}

.left-container {
    background: #713BDB;
}

.center-container {
    background: lightseagreen;
}

.right-container {
    background: orangered;
}

.icon-container {
    color: white;
}

.index-icon {
    font-size: 24px;
}

.index-counter {
    font-family: var(--bold-font);
    font-size: 24px;
    color: var(--dark);
}

.cold-water-icon {
    color: var(--accent);
}

.hot-water-icon {
    color: orangered;
}

.gas-power-icon {
    color: lightseagreen;
}

.heating-power-icon {
    color: coral;
}