@import "../00_design_system/03_variables.css";


/*********************************/
/*          FIRST ROW           */
/*******************************/

.card-info{
    font-size: 11px;
    font-family: var(--medium-font);
}

.payments-icon {
    font-size: 24px;
    color: var(--accent);
}

.negative {
    color: orangered;
}

.positive {
    color: lightseagreen;
}

.card-content {
    color: var(--dark);
    margin-top: 16px;
}

/**********************************/
/*          SECOND ROW           */
/********************************/

.second-row {
    margin-top: 30px;
}