/*================================================*/
/*===           PROFIT / LOSS REPORT ICONS    ====*/
/*================================================*/

.positive {
    color: mediumseagreen;
}

.negative {
    color: orangered;
}