{% extends 'base.html' %}
{% load static %}

{% block content %}

    <title>Settings</title>

    <div class="container-fluid settings--panel content--panel">


        <div class="row content-row table-content">
            <div class="col-xs-12 col-sm-12-col-md-12-col-lg-12">
                {% include 'building/tables/utilities_table.html' %}
            </div>
        </div>

        <div class="row content-row table-content">
            <div class="col-xs-12 col-sm-12-col-md-12-col-lg-12">
                {% include 'building/tables/power_supplies_table.html' %}
            </div>
        </div>


    </div>

{% endblock content %}